@model Trivia_Quiz.Models.Question

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartQuiz</title>
    <link rel="stylesheet" href="../../Resources/style.css" />
</head>
<body>
    <nav>
        <h1>Quiz</h1>
    </nav>
    <div class="SideBar">
        <br />
        <a href="../Home/Index">Home</a>
        <br />
        <br />
        <a href="../HighScore/Index">HighScores</a>
    </div>
    <div class="Content">
        <p class="@ViewBag.ANS">@ViewBag.ANS</p>
        <p>Category: @Model.Category</p>
        <p>Difficulty: @Model.Difficulty</p>
        <p>Question: @Model.QuestionRan</p>
        <br />
        <form action="Continue" method="post">
            <input type="radio" name="Questions" value="@Model.Options[0]" id="option1" />
            <label for="option1">
                @Model.Options[0]
            </label>
            <br />
            <input type="radio" name="Questions" value="@Model.Options[1]" id="option2" />
            <label for="option2">
                @Model.Options[1]
            </label>
            <br />
            <input type="radio" name="Questions" value="@Model.Options[2]" id="option3" />
            <label for="option3">
                @Model.Options[2]
            </label>
            <br />
            <input type="radio" name="Questions" value="@Model.Options[3]" id="option4" />
            <label for="option4">
                @Model.Options[3]
            </label>
            <br />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
